SCIM - error message is not RFC compliant

Hi,

I changed my User schema to require a value for an email.
Meaning, one cannot send an email without the actual value of the email.

I got the following error message when creating a user with an empty email.

```
The HTTP status code of the response was not expected (400).

Status: 400
Response: 
{
  "schemas": [
    "urn:ietf:params:scim:api:messages:2.0:Error"
  ],
  "status": "400",
  "scimType": "schemaViolated",
  "detail": "required attributes urn:ietf:params:scim:schemas:core:2.0:User:value are missing"
}
```

As far as I understand, `schemaViolated` is not a valid `scimType`.
Moreover, the attribute path is incorrect.
I believe it should be `urn:ietf:params:scim:schemas:core:2.0:User:Emails.value`.


Thanks !
Dan



Hello,

The issue is fixed in the branch "release/2.0.9".

The following modifications have been made (according to the RFC 7644 section 3.12 : https://datatracker.ietf.org/doc/html/rfc7644#section-3.12)
* When a required value is missing or the value is not compaible with the operation / attribute type / resource schema then the scimType is equals to invalidValue.
* The attribute path is fixed. The value looks like to something like this : urn:ietf:params:scim:schemas:core:2.0:User:Emails.value.

Kind regards,

SimpleIdServer

Looks like this issue is solved.
Thanks !